<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title><%= legoSet.name %></title>
</head>
<body>
    <%- include('partials/navbar', {page:''}) %>

    <div class="container mx-auto">
        <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold"><%= legoSet.name %></h1>
                <p class="py-6">Find below all details about the set: <%= legoSet.name %></p> 
              </div>
            </div>
        </div>
        <br>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
              <img class="w-full h-auto rounded-lg mb-4 md:mb-0"
                src="<%= legoSet.img_url %>"
                alt="<%= legoSet.name %> image" />
      
            </div>
            <div class="prose">
                <div>
                    <p><strong>Set Name</strong>: <%= legoSet.name %></p>    
                    <p><strong>Year Released</strong>: <%= legoSet.year %></p>    
                    <p><strong>Theme</strong>: <%= legoSet.Theme.name %></p>    
                    <p><strong>Number of Parts</strong>: <%= legoSet.num_parts %></p> 
                </div> 
                
                <p id="quote"> </p>
                <p id="author" style=" font-style: italic"> </p>
                
                <a href="/lego/editSet/<%= legoSet.set_num %>" class="btn btn-success">Edit Set: <%= legoSet.name %></a>
                <a href="#" onclick="history.back(); return false;" class="btn btn-primary">Back</a>
            </div>
      
          </div>

          

    </div>
</body>


<script>
    document.addEventListener("DOMContentLoaded", ()=>{

        fetch('https://quotable.io/random')
        .then(response => response.json())
        .then(data => {
          const quoteContent = document.getElementById('quote');
          const quoteArthur = document.getElementById('author');
          quoteContent.innerText = `"${data.content}"`;
          quoteArthur.innerText = `-${data.author}`;
        })
        .catch(error => {
          console.error('Error fetching quote:', error);
        });
    });
</script>

</html>